body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ddd;
}
.no {
    color: dimgray;
    font-size: 20px;
}

#app {
    font-family: 'Century Gothic', sans-serif;
    font-size: 25px;
    word-wrap: break-word;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background-color: #ddd;
    height: 100%;
}

.col {
    width: 30%;
    max-width: 31%;
    min-width: 100px;
    margin: 30px;
    padding: 15px 10px 0px 10px;
    background-color: white;
    border-radius: 5px;
    height: 0%;
}

.esc:hover {
    color: red;
    cursor: pointer;
}

.esc {
    padding-left: 5px;
}

.start:hover {
    color: lawngreen;
    cursor: pointer;
}

.add:hover {
    color: greenyellow;
    cursor: pointer;
}

.expand:hover {
    color: darkblue;
    cursor: pointer;
}

.edit:hover {
    color: darkslateblue;
    cursor: pointer;
}

.back:hover {
    color: orangered;
    cursor: pointer;
}

.hidden {
    position: absolute;
    top: 100%;
    background: white;
    z-index: 100;
    border-radius: 0 0 8px 8px;
    box-shadow: 1px 2px 2px 0px grey;   
}

.do {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.note_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 3px grey;
    transition: height 1s ease-in;
}

.note input {
    width: 300px;    
}

p {
    max-width: 350px;
    min-width: 200px;
    margin: 8px;
}

.dots {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.dot {
    user-select: none;
}
.done {
    text-decoration: line-through;
}

.create {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 90%;
    margin: 25px auto;
}

.create input {
    width: 75%;
}

.create button {
    width: 20%;
}

.heading {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
